:root {
  --white: #ffffff;
  --gray-500: #e1e1e6;
  --gray-600: #929292;
  --gray-700: #5E5E5E;
  --gray-800: #2F2F2F;
  --gray-900: #29292E;

  --green-500: #379237;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-500);
  -webkit-font-smoothing: antialiased;
}